<!DOCTYPE HTML>
<html>

<head>
	<title>Ca-PEE-tal Tracker</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<link rel="stylesheet" href="/css/main.css" />
	<noscript>
		<link rel="stylesheet" href="/css/noscript.css" />
	</noscript>
	<script type="text/javascript">
		(function (c, l, a, r, i, t, y) {
			c[a] = c[a] || function () { (c[a].q = c[a].q || []).push(arguments) };
			t = l.createElement(r); t.async = 1; t.src = "https://www.clarity.ms/tag/" + i;
			y = l.getElementsByTagName(r)[0]; y.parentNode.insertBefore(t, y);
		})(window, document, "clarity", "script", "mcqoggk6iv");
	</script>
</head>

<body class="is-preload">

	<!-- Header -->
	<header id="header">
		<a href="/" class="title">Ca-pee-tal Tracker</a>
		<nav>
			<ul>
				<li><a href="/">Home</a></li>
				<li><a href="/about" class="active">About</a></li>
			</ul>
		</nav>
	</header>

	<!-- Wrapper -->
	<div id="wrapper">

		<!-- Main -->
		<section id="main" class="wrapper">
			<div class="inner">
				<h1 class="major">What the #%!$ is this?</h1>
				<p>Inspired by a road-trip for a wedding in Maine, I had to go really bad. As we were passing by
					Augusta, I asked "Can we stop here? I've never peed in this capital before."</p>
				<p>A few amusing conversations later, we started tracking how many US capitals we've urinated at and the
					idea for a website began!</p>
				<hr />
				<h2 class="major">What counts?</h1>
					<p>Any time you pee in the city limits of a US state capital, it counts! Whether it's in a public
						restroom, a bush, or a bottle in the car, it counts!</p>
					<hr />
					<h2 class="major">Don't you mean "capitol tracker"?</h1>
						<p>Nope! I'm talking about the city, not the building. <a
								href='https://www.microsoft.com/en-us/microsoft-365-life-hacks/writing/capitol-vs-capital'>See
								this great article for reference.</a></p>
			</div>
		</section>

	</div>

	<!-- Footer -->
	<footer id="footer" class="wrapper alt">
		<div class="inner">
			<ul class="menu">
				<li>&copy; Lastcoolnameleft. All rights reserved.</li>
				<li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
			</ul>
		</div>
	</footer>

	<!-- Scripts -->
	<script src="js/jquery.min.js"></script>
	<script src="js/jquery.scrollex.min.js"></script>
	<script src="js/jquery.scrolly.min.js"></script>
	<script src="js/browser.min.js"></script>
	<script src="js/breakpoints.min.js"></script>
	<script src="js/util.js"></script>
	<script src="js/main.js"></script>

</body>

</html>