<%- include ('includes/header.ejs', {isAbout: true}) %>

	<!-- Wrapper -->
	<div id="wrapper">

		<!-- Main -->
		<section id="main" class="wrapper">
			<div class="inner">
				<h2 class="major">I've got some feedback and/or want to ask you a question.</h1>
				<p>Sure thing!  Please fill out <a href='https://forms.gle/kjr9aRNdUUQji33R8'>this form</a>, and I'll get back to you.</p>
				<h2 class="major">I found a bug!</h1>
				<p>Doh!  Let me know about it by filling out <a href='https://forms.gle/BJpgUkgscUedFJaL8'>this form</a> and I'll do my best to fix it.</p>
			</div>
		</section>

	</div>

<%- include ('includes/footer.ejs') %>