<!DOCTYPE html>
<html>

<head>
    <title>Ca-PEE-tal Tracker</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="css/main.css" />
    <noscript>
        <link rel="stylesheet" href="css/noscript.css" />
    </noscript>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script src="js/underscore-min.js"></script>
    <script src="js/pluralize.js"></script>
    <script src="js/data.app.js"></script>
    <script src="js/logic.app.js"></script>
    <script type="text/javascript">
        (function(c,l,a,r,i,t,y){
            c[a]=c[a]||function(){(c[a].q=c[a].q||[]).push(arguments)};
            t=l.createElement(r);t.async=1;t.src="https://www.clarity.ms/tag/"+i;
            y=l.getElementsByTagName(r)[0];y.parentNode.insertBefore(t,y);
        })(window, document, "clarity", "script", "mcqoggk6iv");
    </script>
    <script type="text/javascript">
        google.charts.load('current', {
            'packages': ['geochart'],
            // Note: you will need to get a mapsApiKey for more than simple.
            'mapsApiKey': 'AIzaSyCARIrIRh4GT-7tD7dVTmB2_nK3DzvNMuk'
        });
        google.charts.setOnLoadCallback(drawRegionsMap);
    </script>
    <meta property="og:url"                content="<%= fullUrl %>" />
    <meta property="og:type"               content="website" />
    <meta property="og:title"              content="Welcome to the Ca-PEE-tal tracker." />
    <meta property="og:description"        content="This is a tool designed to let you share with your friends all of the US state capitals you've peed at!" />
    <meta property="og:image"              content="<%= imgUrl %>" />
    
</head>

<body class="is-preload">

    <!-- Header -->
    <header id="header">
        <a href="/" class="title">Ca-PEE-tal Tracker</a>
        <nav>
            <ul>
                <li><a href="/" class="active">Home</a></li>
                <li><a href="/about">About</a></li>
            </ul>
        </nav>
    </header>

    <!-- Wrapper -->
    <div id="wrapper">
        <!-- Main -->
        <section id="main" class="wrapper">
            <div class="inner">
                <p>Welcome to the Ca-PEE-tal tracker.  This is a tool designed to let you share with your friends all of the US state capitals you've peed at!</p>
                <h3 id="percent"></h3>
                <div id="regions_div" style="width: 900px; height: 500px;"></div>
                <h3 id="amount"></h3>
            </div>
        </section>
    </div>

    <!-- Footer -->
    <footer id="footer" class="wrapper alt">
        <div class="inner">
            <ul class="menu">
                <li>&copy; Lastcoolnameleft. All rights reserved.</li>
                <li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
            </ul>
        </div>
    </footer>

    <!-- Scripts -->
    <script src="js/jquery.min.js"></script>
    <script src="js/jquery.scrollex.min.js"></script>
    <script src="js/jquery.scrolly.min.js"></script>
    <script src="js/browser.min.js"></script>
    <script src="js/breakpoints.min.js"></script>
    <script src="js/util.js"></script>
    <script src="js/main.js"></script>
</body>
</html>