<%- include ('includes/header.ejs', {isIndex: true, isMap: true}) %>


    <div id="wrapper">
        <!-- Main -->
        <section id="main" class="wrapper">
            <div class="inner" style="padding-top: 40px;">
                <script>
                    function copyButton() {
                        var copyText = document.URL;

                        // Copy the text inside the text field
                        navigator.clipboard.writeText(copyText);

                        var tooltip = document.getElementById("myTooltip");
                        tooltip.innerHTML = "Copied!";

                    }

                    function outFunc() {
                        var tooltip = document.getElementById("myTooltip");
                        tooltip.innerHTML = "Copy to clipboard";
                    }
                </script>
                <center>
                    Welcome to the Ca-PEE-tal tracker where you track each US state capital you've urinated!
                    <h2 id="amount"></h2>
                    <div id="regions_div"></div>
                    <div class="dropdown">
                        <button class="dropbtn">State Capitals <i class="arrow down"></i></button>
                        <div class="dropdown-content">
                            <% for (const [code, name] of Object.entries(regionHash)) { %>
                                <a onclick="toggleRegion(regionArray, '<%= code %>');"><%= name %></a>
                            <% } %>
                        </div>
                      </div>
                    <br \>
                    Share on:
                    <ul class="share-buttons" data-source="simplesharingbuttons.com">
                        <li><a href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fcapeetaltracker.com%2F&quote="
                                title="Share on Facebook" target="_blank"
                                onclick="window.open('https://www.facebook.com/sharer/sharer.php?u=' + encodeURIComponent(document.URL) + '&quote=' + encodeURIComponent(document.URL)); return false;"><img
                                    alt="Share on Facebook" src="/images/share/capeetal_fb.png" /></a></li>
                        <li><a href="mailto:?subject=&body=:%20https%3A%2F%2Fcapeetaltracker.com%2F" target="_blank"
                                title="Send email"
                                onclick="window.open('mailto:?subject=' + encodeURIComponent(document.title) + '&body=' +  encodeURIComponent(document.URL)); return false;"><img
                                    alt="Send email" src="images/share/capeetal_email.png" /></a></li>
                        <li><a href="http://www.tumblr.com/share?v=3&u=https%3A%2F%2Fcapeetaltracker.com&quote=&s="
                                target="_blank" title="Post to Tumblr"
                                onclick="window.open('http://www.tumblr.com/share?v=3&u=' + encodeURIComponent(document.URL) + '&quote=' +  encodeURIComponent(document.title)); return false;"><img
                                    alt="Post to Tumblr" src="images/share/capeetal_tumblr.png" /></a></li>
                        <li>
                            <div class="tooltip">
                                <img src="/images/share/capeetal_link.png" onclick="copyButton()"
                                    onmouseout="outFunc()">
                                <span class="tooltiptext" id="myTooltip">Press to copy</span>
                            </div>
                        </li>
                    </ul>
                </center>
            </div>
        </section>
    </div>

    <%- include ('includes/footer.ejs') %>