<%- include ('includes/header.ejs', {isStats: true}) %>

<script src="/js/app.js"></script>
<script type="text/javascript">
    google.charts.load('current', {
        'packages': ['geochart'],
        // Note: you will need to get a mapsApiKey for more than simple.
        'mapsApiKey': 'AIzaSyCARIrIRh4GT-7tD7dVTmB2_nK3DzvNMuk'
    });
    google.charts.setOnLoadCallback(initStatMap);

    function initStatMap() {
        const regionDataFetch = fetch('/json/region/us.json').then(res => res.json());
        const statDataFetch = fetch('/data/stats/us.json').then(res => res.json());

        Promise.all([statDataFetch, regionDataFetch]).then(([statData, regionData]) => {
            console.log(statData);
            console.log(regionData);
            statHash = statData['regionHash'];
            regionData_g = regionData;
            const regionCount = statData['regionCount'];
            $('#countData').text(`${regionCount} Tinklers have marked their territory! (updated daily)`);
            var countData = [['State', 'Count']];
            for (var state in statHash) {
                if (statHash.hasOwnProperty(state)) {
                    var count = statHash[state];
                    countData.push([state, count]);
                }
            }

            const data = new google.visualization.DataTable();
            data.addColumn('string', 'State');
            data.addColumn('number', 'Value');
            var regionArray = [];
            for (const key in regionData) {
                regionArray.push([{ f: regionData[key], v: key}, statHash[key]]);
            }
            console.log(regionArray);
            data.addRows(regionArray);


            var options = getBaseOptions();
            options.legend = {textStyle: {color: 'blue', fontSize: 12}}

            var chart = new google.visualization.GeoChart(document.getElementById('regions_div'));

            chart.draw(data, options);
        });
    }
</script>

    <!-- Wrapper -->
    <div id="wrapper">
        <!-- Main -->
        <section id="main" class="wrapper" >
            <div class="inner center" style="padding-top: 40px;">
                    <h2><div id='countData'></div></h2>
                    <div id="regions_div"></div>
                    <br \>
            </div>
        </section>
    </div>

<%- include ('includes/footer.ejs') %>